h1,h2,h3{
    font-family: "club-lithographer", sans-serif;
    font-weight: 400;
    font-style: italic;
}

body,p{
    font-family: "sutro", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18pt;
    text-align: center;
}

body{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
}
form {
    max-width: 400px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button {
    background-color: #3f3f3f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #000000;
}